// Madkting colors
$blue: #2B9FC3;
$red: #9C1821;
$grey: #2b2b2b;
$border: 1px solid #2b2b2b40;
$break: 768px;

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.products {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 10px;
  .fa-close {
    color: $red;
  }
  .tabs {
    width: 100%;
    border-bottom: $border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    @media screen and (min-width: $break) {
      justify-content: center;
    }
    .tab {
      padding: 10px 20px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      &.active {
        border: $border;
        background-color: white;
        border-bottom: none;
      }
      img {
        max-height: 20px;
      }
      .name {
        color: $grey;
        font-weight: 500;
        margin: 0px 10px;
      }
      .badge {
        font-size: 0.5rem;
        font-weight: 100;
        color: white;
        background-color: #2b2b2bbf;
        border: $border;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
  .mat-paginator {
    width: 100%;
    border: $border;
  }
  .mat-table {
    width: 100%;
    margin-top: 25px;
    table-layout: fixed;
    border-top: 2.5px solid $blue;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    .mat-cell{
      overflow: hidden;
      word-wrap: break-word;
      padding: 10px;
      font-size: 0.65em;
      text-align: center;
    }
    .mat-header-cell {
      color: $grey;
      text-align: center;
    }
    .mat-column-photo {
      padding: 5px;
      overflow: hidden;
      cursor: pointer;
    }
    .mat-column-actions {
      padding-right: 10px;
      width: 30px;
    }
    img {
      max-height: 50px;
      max-width: 50px;
      border-radius: 10px;
    }
    .actions {
      max-height: 15px;
      cursor: pointer;
    }
   .mat-row:nth-child(odd){
      background-color: #efefef;
    }
  }
}

.product {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  @media screen and (min-width: $break) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    border-top: 2.5px solid $blue;
    margin-top: 15px;
    @media screen and (min-width: $break) {
      max-width: 90%;
      align-self: start;
    }
    .mat-card-header {
      align-items: center;
      justify-content: left;
      margin-bottom: 15px;
      padding: 0px;
      .mat-card-avatar {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 20px;
        height: 20px;
        img {
          max-height: 15px;
        }
      }
      .mat-card-header-text {
        margin: 0;
      }
      .mat-card-title {
        font-size: 1em;
        margin-bottom: 0;
      }
    }
    .mat-card-content {
      p {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        .container {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          .data {
            font-size: 1.1em;
            margin: 10px;
            color: #2B9FC3;
            text-align: right;
          }
        }
      }
    }
  }
}

.loading {
  margin: 0 -5px;
}

@media screen and (min-width: 1000px) {
  .product {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "info description" "data description" "image description";
  }

  .info { grid-area: info; }

  .data { grid-area: data; }

  .image { grid-area: image; }

  .description { grid-area: description; }
}
