<div class="loading" [style.display]="loading ? 'flex' : 'none'">
  <div class="spinner"></div>
</div>
<div class="products" [style.display]="loading ? 'none' : 'flex'">

  <div class="tabs">
    <div class="tab" [ngClass]="!product ? 'active' : ''" (click)="backToList()">
      <img src="assets/icons/list.svg" alt="Producto">
      <span class="name">Productos</span>
      <span class="badge">{{ total }}</span>
    </div>
    <div class="tab" *ngFor="let item of tabs" [ngClass]="product['sku'] == item['sku'] ? 'active' : ''" (click)="openTab(item)">
      <span class="name">{{ item['sku'] }}</span>
      <i class="fa fa-close" (click)="closeTab(item)"></i>
    </div>
  </div>

  <div class="product" *ngIf="!!product">

    <!-- Información del producto -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <img src="assets/icons/product.svg" alt="Información del producto">
        </div>
        <mat-card-title>
          Información del producto
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="container">
            Nombre:
            <span class="data">{{ product['name'] }}</span>
          </span>
          <span class="container">
            ID:
            <span class="data">{{ product['pk'] }}</span>
          </span>
          <span class="container">
            SKU:
            <span class="data">{{ product['sku'] }}</span>
          </span>
          <span class="container">
            Marca:
            <span class="data">{{ product['brand'] }}</span>
          </span>
          <span class="container" *ngIf="product['category_pk']">
            Categoría:
            <span class="data">{{ getCategory(product['category_pk']) }}</span>
          </span>
          <span class="container">
            Condición:
            <span class="data">{{ product['condition'] }}</span>
          </span>
          <span class="container" *ngIf="product['local_pickup']">
            Recolección:
            <span class="data">{{ product['local_pickup'] }}</span>
          </span>
          <span class="container">
            Creado:
            <span class="data">{{ product['created_at'] | date }}</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Números -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <img src="assets/icons/number.svg" alt="Datos del producto">
        </div>
        <mat-card-title>Datos del producto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="container">
            Precio:
            <span class="data">{{ product['price'] | currency }}</span>
          </span>
          <span class="container">
            Unidades:
            <span class="data">{{ product['stock'] }}</span>
          </span>
          <span class="container">
            Dimensiones:
            <span class="data">
              {{ product['shipping_height'] }}{{ product['dimensions_unit'] }} x {{ product['shipping_width'] }}{{ product['dimensions_unit'] }} x {{ product['shipping_depth'] }}{{ product['dimensions_unit'] }}
            </span>
          </span>
          <span class="container">
            Peso:
            <span class="data">{{ product['weight'] + product['weight_unit'] }}</span>
          </span>
          <span class="container">
            Costo de envío:
            <span class="data">{{ product['shipping_price'] | currency }}</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Imagenes -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <img src="assets/icons/picture.svg" alt="Galería de imágenes">
        </div>
        <mat-card-title>Imágenes <span>{{ galleryImages.length }}</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-gallery *ngIf="galleryImages.length" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </mat-card-content>
    </mat-card>

    <!-- Descripción -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <img src="assets/icons/document.svg" alt="Descripción">
        </div>
        <mat-card-title>Descripción</mat-card-title>
      </mat-card-header>
      <mat-card-content [innerHTML]="product['description_html']">
      </mat-card-content>
    </mat-card>

  </div>


  <table  *ngIf="!product"  mat-table [dataSource]="dataSource" matSort>

    <!-- Photo Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.photo ? row.photo : 'assets/icons/picture.svg'" alt="">
      </td>
    </ng-container>

    <!-- SKU Column -->
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell *matCellDef="let row"> {{row.sku}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"
      matTooltip="{{row.name}}"
      matTooltipClass="tooltip"
      [matTooltipPosition]="'above'">
        {{row.name.substring(0,50)}}
        {{ row.name.length > 50 ? '...' : '' }}
      </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let row"> {{row.brand}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">
        <img src="assets/icons/cog.svg" alt="Acciones" class="actions">
      </th>
      <td mat-cell *matCellDef="let row">
        <a (click)="openTab(row)">
          <img src="assets/icons/open.svg" alt="Detalles" class="actions">
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;">
    </tr>
  </table>
  <mat-paginator  *ngIf="!product" [length]="total" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
